name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: copy google-service
      env:
        GOOGLE_SERVICE: ${{ secrets.GOOGLE_SERVICE_JSON }}
      run: echo $GOOGLE_SERVICE | base64 --decode --ignore-garbage > ./app/google-services.json
    - name: copy dialogflow-secret
      env:
        DIALOGFLOW_SECRET: ${{ secrets.DIALOGFLOW_SECRET_JSON }}
      run: |
        mkdir -p ./app/src/main/res/raw
        echo $DIALOGFLOW_SECRET | base64 --decode --ignore-garbage > ./app/src/main/res/raw/dialogflow_secret.json
    - name: Build with Gradle
      run: |
        chmod +x ./gradlew
        sudo ./gradlew build
